.home{

    background-image: url("https://cdn.wallpapersafari.com/70/10/VQWxKr.jpg");
    background-size: cover; 
    height: 100vh;
    background-repeat: no-repeat;
    width: 100vw;
}
@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
nav{
    width: 100%;
    height: 100px;
    line-height: 100px;
    padding: 0px 100px;
    position:fixed;
  }
  nav li{
     display:inline-block;
     list-style: none;
     margin-right: 5rem;
     margin: auto;
      }
nav li a{
    font-size: 25px;
    text-transform: uppercase;
    padding: 0px 30px;
    color:rgb(11, 2, 31);
    text-decoration: none;
}
nav li a:hover{
    color:rgb(95, 173, 221);
    transition: all 0.4s ease;

}
.head
{
    border:2px solid  rgb(13, 3, 33);
    color:rgb(210, 227, 214)
}
label{
    color:rgb(43, 5, 5);
}